html, body{
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}
.container {
    width: 300px;
}

h1 {
    color: white;
}

#inputfield {
   width: 300px;
   height: 46px;
   
   outline: none;
   font-size: 25px;

}

#addtodo {
    background-color: white;
    border: none;
    outline: none;
    height: 50px;
    color: aqua;
    font-size: 30px;
}
.todos {
    margin-top: 25px;
    background-color: white;
    width: 385px;
    
}
.inputheader {
    display: flex;
    align-items: center;
    background: transparent;
}
.paragraph-styling {
    margin: 0 auto;
    cursor: pointer;
    font-size: 30px;
    border-bottom: 1px solid blue;
    
}
.item-btn {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.item {
    display: flex;
}
.completed{
    text-decoration: line-through;
    color: red;
}

